# ignore these files
*.idx
*.ilg
*.ind
*.bak
*.log
*.aux
*.blg
*.dvi
*.out
*.lot
*.toc
*.ps
*.lof
*.bbl
*.fls
*.synctex(busy)
*.fdb_latexmk
**/*.pdf

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
tags
*.brf
